<!DOCTYPE html>
<html>
  <head>
    <title>Mankirk Books</title>
    <link rel='stylesheet' href='/stylesheets/products.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js"></script>
     <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
  </head>
  
  <body>
       <div id="header"><% include templates/navbar %></div>
 
<div class="container-fluid row" id="main">
    <div id="left" class="well col-xs-2"></div>
   
    
   <div id="content" >
      <div  id="about">
  <h3>Who we are:</h3>
  <p>We're the Mankirk Books online library, says so in the navbar thingy, jeez...</p>
        <hr>
  <h3>What we Do:</h3>
  <p>Sell books I guess...</p>
        <hr>
  <h3>Contact info:</h3>
  <p><b>Adress:</b> P.O. Box 18979
Irvine, CA 92623</p>
  <p><b>E-mail:</b> MankirkBooks@weStillUseYahoo.com</p>
  <p><b>Phone:</b> (949) 955-1382</p>
  
</div>
    </div>
     
      
     
   </div>
      
    
    
   <div id="right" class="well col-xs-2"></div>
  </div>  
  
  <% include templates/footer %>
  
  
  
  </body>
  </html>