<!DOCTYPE html>
<html>
  <head>
    <title>Mankirk Books</title>
    <link rel='stylesheet' href='/stylesheets/mainpg.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div id="header">
   <% include templates/navbar %>
   </div>
   
  <div class="container-fluid row" id="main">
    <div id="left" class="well col-xs-2"></div>
   
    
   <div id="content" >
      <div id="ro" class="row">
   
  <div class="col-xs-4" id="fir"><a href="https://books-mankirk.c9users.io/allBooks">Enjoy our limited selection of fine reading!</a></div>
  <div class="col-xs-4" id="sec"><a href="https://books-mankirk.c9users.io/popular">Check out this month's hottest reads.</a></div>
  
</div>
  <div id="ro" class="row">
    
  <div class="col-xs-4" id="th"><a href="https://books-mankirk.c9users.io/randomBook">Try out blind date with a book.</a></div>
  <div class="col-xs-4" id="for"><a href="#">Check out all of our promotions.</a></div>
 
</div>
     </div>
     
      
     
   </div>
      
    
    
   <div id="right" class="well col-xs-2"></div>
  </div>  
 
   <% include templates/footer %>
   
  </body>
</html>
