<!DOCTYPE html>
<html>
  <head>
    <title>Mankirk Books</title>
    <link rel='stylesheet' href='/stylesheets/nav.css' />
   
  </head>
  
  <body>
<div class="container-fluid"> 
    <nav class="navbar  navbar-fixed-top "    >
         <div class="container-fluid">
         <div class="navbar-header">
          <a class="navbar-brand" href="https://mankirkbooks.herokuapp.com">Mankirk Books</a>
          </div>
        <ul class="nav navbar-nav ">
           <li ><a href="https://mankirkbooks.herokuapp.com/popular">Popular</a></li>
           <li class='dropdown' id="cats" ><a href="#" class="dropdown-toggle   " data-toggle="dropdown">Categories <span class="caret"></span> </a>
            <ul class="dropdown-menu" id="drop">
             <li><a href='https://mankirkbooks.herokuapp.com/allBooks/romance'>Romance</a></li>
              <li class="divider"></li>
              <li ><a href='https://mankirkbooks.herokuapp.com/allBooks/war'>War</a></li>
              <li class="divider"></li>
              <li><a href='https://mankirkbooks.herokuapp.com/allBooks/selfImprovement'>Self-improvement</a></li>
              <li class="divider"></li>
              <li><a href='https://mankirkbooks.herokuapp.com/allBooks/thriller'>Thriller</a></li>
              
             </ul> 
             
            </li>
          
           <li><a href="https://mankirkbooks.herokuapp.com/allBooks"> All books.</a></li>
           <li><a href="https://mankirkbooks.herokuapp.com/randomBook"> Random book.</a></li>
           <li><a href="https://mankirkbooks.herokuapp.com/about">About</a></li>
          </ul>
        
      </div>
        
       <h3 >World's smallest online bookshop.</h3>   
     </nav>
        
      
      </div>
      
      
      </body>
</html>
     